<div class="head"><h1>PATIENT MANGEMENT SYSTEM</h1></div>
   <div class="left">
      
        <table border="1" width="100%" height="100%" >
            <tr><th colspan="7"> PATIENT DETAILS - LIST</th></tr>
            
            <tr>
                <th rowspan="7"></th>
                <th>Id.No</th>
                <th>Patient Name</th>
                <th>Patient Age</th>
                <th>Disease name</th>
                <th>Phone No</th>
                <th>Fees</th>
            </tr>
            <tr>
                <td>101</td>
                <td>Deepak</td>
                <td>21</td>
                <td>Psoriasis</td>
                <td>2485451465</td>
                <td>RS.500</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Jegan</td>
                <td>20</td>
                <td>Overthinking</td>
                <td>6546514365</td>
                <td>RS.600</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Dinesh</td>
                <td>21</td>
                <td>Fever</td>
                <td>8545146576</td>
                <td>RS.700</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Femina Banu</td>
                <td>20</td>
                <td>High Pressure</td>
                <td>3464596564</td>
                <td>RS.800</td>
            </tr>
            <tr>
                <td>105</td>
                <td>Ranjini</td>
                <td>21</td>
                <td>Alzheimer</td>
                <td>3246453654</td>
                <td>RS.900</td>
            </tr>
            <tr>
                <td>106</td>
                <td>Kiruthika</td>
                <td>19</td>
                <td>Brain Disorder</td>
                <td>3265445485</td>
                <td>RS.1000</td>
            </tr>
       
    </table>
    

   </div>
   <div class="right">
    Id.No :<br><br>
        <input type="text" size="25%"/>
        <br><br>
    Patient.Name : <br><br>
    <input type="text" size="25%"/>
    <br><br>
    Patient.Age : <br><br>
    <input type="text" size="25%"/>
    <br><br>
    Disease.Name : <br><br>
    <input type="text" size="25%"/>
    <br><br>
    Phone.No : <br><br>
    <input type="text" size="25%"/>
    <br><br>
    Fees : <br><br>
    <input type="text" size="25%"/>
    <br><br>
    <button type="button" class="btn btn-danger btn-lg">Save</button>&nbsp;
    <button type="button" class="btn btn-primary">Update</button>&nbsp;
    <button type="button" class="btn btn-info">Delete</button>&nbsp;
    <button type="button" class="btn btn-info">Edit</button>&nbsp;
    <button type="button" class="btn btn-info">Insert</button>
   
   
   </div>
   