.head{
    color:white;
    background-color:rgb(164, 87, 164);
    
    border: 5px solid black;
    padding:5px;
    text-align: center;
    border-radius: 10px;
}
.right{
    color:black;
    background-color:rgb(237, 171, 237);
    border: 1px solid black;
    padding: 50px;
   
    width:40%;
    height:550px;
    border-radius: 10px;
    text-align: center;
    
}
.left{
    color:black;
    background-color:rgb(237, 171, 237);
    border: 1px solid black;
    padding: 50px;
    text-align:left;
    width:60%;
    height:550px;
    float:right;
    border-radius: 10px;
    text-align: center;
  }
  